.wrapper-pokemonList{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.Pokemon-card > img {
    object-fit: cover;
    height: 100px;
}
.loading{
    text-align: center;
}
.controls{
    text-align: center;
    margin: 20px 0px;
}
.controls > button {
    padding: 20px 50px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #000000;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
    color: aliceblue;
    border-radius: 10px;
}
.controls > button:disabled{
    background-color: rgb(107, 107, 107);
}