.wrapper-pokemonList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}
.Pokemon-card > img {
    object-fit: cover;
    height: 100px;
}
.Pokemon-card{
    /* background: #000; */
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}